<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Stalkbook</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/StyleSheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/scripts.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse cssmenu" id="cssmenu">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "NewsFeed")</li>
                    <li>@Html.ActionLink("Profile", "Index", "Profile")</li>
                    <li>@Html.ActionLink("Group", "Index", "Group")</li>
                </ul>
                @*<div class="search-box">
                    <div class="search">
                        <form role="form" method="get" action="~/Search/Search">
                            <input type="search" id="mysearch" placeholder=Search... name="searchString" class="search">
                            <input type="submit" value="Search" class="btn btn-default btn-xs">
                        </form>
                    </div>
                </div>*@
                <div class="col-xs-4 col-md-offset-1 imidju">
                    <form class="navbar-form" role="search" action="~/Search/Search">
                        <div class="input-group">
                            <input type="search" id="mysearch" class="form-control" placeholder="Search..." name="searchString">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div> 


                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - StalkBook LLC.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
