@model  StalkBook.Models.StatusesViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

@{Html.RenderPartial("~/Views/Newsfeed/StatusPartial.cstml", );}

<div class="all-statuses"> 
    @foreach (var item in Model.availableStatuses)
    {
        //var statusRating = Model.myRatings.Where(s => s.statusId == ).SingleOrDefault();
        //var rating = item.upvotes - item.downvotes;   
        <div class="content" data-id="@item">
            @*@if (statusRating == null || statusRating.rating == 0)
            {
                <div class="rating-button neutral-up" role="button" tabindex="0">0</div>
                <div class="rating-button neutral-down" role="button" tabindex="0">0</div>
            }
            else if (statusRating.rating == 1)
            {
                <div class="rating-button upvoted" role="button" tabindex="0">1</div>
                <div class="rating-button neutral-down" role="button" tabindex="0">1</div>
            }
            else
            {
                <div class="rating-button neutral-up" role="button" tabindex="0">2</div>
                <div class="rating-button downvoted" role="button" tabindex="0">2</div>
            }*@
            <p class="status-rating"></p>  
            <div class="status-main">
                <p>@Html.ActionLink(item.status.fullName, "GetProfile", "Profile", new { Id = item.status.userId }, null)</p>
                <p>@item.status.timeCreated.Date.ToShortDateString() @item.status.timeCreated.ToShortTimeString()</p>
                <p>@item.status.body</p>
                @if (!String.IsNullOrEmpty(item.status.urlToPic))
                {
                    <a href="@Url.Content(item.status.urlToPic)">
                        <img class="status-picture" src="@Url.Content(item.status.urlToPic)" alt="Image" />
                    </a>
                }    
            </div>                         
            
        </div>     
    }
</div>


