@model StalkBook.Models.ProfileViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile Index</h2>

<div class="profile-info">
    <a href="@Url.Content(Model.profilePicUrl)"><img class="profile-picture" src="@Url.Content(Model.profilePicUrl)" alt="Profile Picture"/></a>
    <p>@Model.name</p>
    <p>Created: @Model.creationDate.Day/@Model.creationDate.Month/@Model.creationDate.Year </p>       
</div>

<div class="all-statuses">
    @foreach (var item in Model.userStatuses)
    {
        <div class="content">
            <div class="upvoted" role="button" tabindex="0"></div>
            <div class="downvoted" role="button" tabindex="0"></div>
            <p class="status-full-name">@Html.ActionLink(item.fullName, "GetProfile", "Profile", new { Id = item.userId }, null)</p>
            <p>@item.timeCreated.Date.ToShortDateString() @item.timeCreated.ToShortTimeString()</p>
            <p>@item.body</p>
            @if (!String.IsNullOrEmpty(item.urlToPic))
            {
                <a href="@Url.Content(item.urlToPic)">
                    <img class="status-picture" src="@Url.Content(item.urlToPic)" alt="Image" />
                </a>
            }
        </div>
    }
</div>
