@model StalkBook.Models.ProfileViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Profile Index</h2>

<div class="profile-info">
    <p>@Model.name</p>
    <p>Created: @Model.creationDate.Day/@Model.creationDate.Month/@Model.creationDate.Year </p>       
</div>

<div class="all-statuses">
    @foreach (var item in Model.userStatuses)
    {
        <div class="status-body">
<<<<<<< HEAD
            <p class="status-full-name">@Html.ActionLink(item.fullName, "GetProfile", "Profile", new { Id = item.userId }, null)</p>
=======
            <p class="status-fullName">@item.fullName</p>
>>>>>>> origin/master
            <p>@item.timeCreated.Date.ToShortDateString() @item.timeCreated.ToShortTimeString()</p>
            <p>@item.body</p>
        </div>
    }
</div>
