@model StalkBook.Models.ProfileViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="profile-info">
    <a class ="profile-picture-anchor" href="@Url.Content(Model.profilePicUrl)"><img class="profile-picture" src="@Url.Content(Model.profilePicUrl)" alt="Profile Picture"/></a>
    <h3>@Model.name</h3>
    <p>Started stalking: @Model.creationDate.Day.@Model.creationDate.Month.@Model.creationDate.Year </p>
    @Html.ActionLink("Stalking", "Stalking", "Profile", new { Id = Model.userID}, htmlAttributes: null)
</div>

@if (Model.userID == Model.myId)
{
    <div class="newsfeed-box">
        <form role="form" method="post">
            <div class="form-group status-content">
                @Html.TextAreaFor(model => model.body, new { @rows = 5, @cols = 50, @maxlength = 200, @placeholder = "What's happening?", htmlAttributes = new { @class = "form-control" } })
                @Html.TextAreaFor(model => model.urlToPic, new { @rows = 1, @cols = 50, @maxlength = 250, @placeholder = "Enter url to picture...", htmlAttributes = new { @class = "form-control" } })
            </div>
            <button type="submit" class="btn btn-default">Post</button>
        </form>
    </div>
}


<div class="all-statuses" id="all-statuses">
    @foreach (var item in Model.userStatuses)
    {
        var statusRating = Model.myRatings.Where(s => s.statusId == item.ID).SingleOrDefault();
        var rating = item.upvotes - item.downvotes;
        <div class="content" data-id="@item.ID">
            @if (statusRating == null || statusRating.rating == 0)
            {
                <div class="rating-button neutral-up" role="button" tabindex="0">0</div>
                <div class="rating-button neutral-down" role="button" tabindex="0">0</div>
            }
            else if (statusRating.rating == 1)
            {
                <div class="rating-button upvoted" role="button" tabindex="0">1</div>
                <div class="rating-button neutral-down" role="button" tabindex="0">1</div>
            }
            else
            {
                <div class="rating-button neutral-up" role="button" tabindex="0">2</div>
                <div class="rating-button downvoted" role="button" tabindex="0">2</div>
            }
            <p class="status-rating">@rating</p>
            <div class="status-main">
                @Html.ActionLink(item.fullName, "GetProfile", "Profile", new { Id = item.userId }, new { @class = "user-fullName" })
                <img class="profile-picture-icon" src="@Url.Content(Model.profilePicUrl)" alt="Profile Picture" />
                <p>@item.timeCreated.Date.ToShortDateString() @item.timeCreated.ToShortTimeString()</p>
                <p>@item.body</p>
                @if (!String.IsNullOrEmpty(item.urlToPic))
                {
                    <a href="@Url.Content(item.urlToPic)">
                        <img class="status-picture" src="@Url.Content(item.urlToPic)" alt="Image" />
                    </a>
                }
                @if (Model.myId == item.userId)
                {
                    @Html.ActionLink("Delete", "DeleteStatus", "Profile", new { Id = item.ID }, new { @class = "delete-status" })
                }
            </div>

        </div>
    }
</div>
