@model IEnumerable<StalkBook.Models.ProfileViewModel>

@{
    ViewBag.Title = "Stalking";
}

<div class="profile-info">
    <a class="profile-picture-anchor" href="@Url.Content(Model.ElementAt(0).profilePicUrl)"><img class="profile-picture" src="@Url.Content(Model.ElementAt(0).profilePicUrl)" alt="Profile Picture" /></a>
    <h3>@Model.ElementAt(0).name</h3>
    <p>Started stalking: @Model.ElementAt(0).creationDate.Day.@Model.ElementAt(0).creationDate.Month.@Model.ElementAt(0).creationDate.Year </p>
    @Html.ActionLink("Stalking", "Stalking", "Profile", new { Id = Model.ElementAt(0).userID }, htmlAttributes: null)
    @Html.ActionLink("Stalkers", "Stalkers", "Profile", new { Id = Model.ElementAt(0).userID }, htmlAttributes: null)
</div>

<div class="stalking-list">
    @for (int i = 1; i < Model.Count(); i++)
    {
        var myProfile = Model.Where(x => x.myId == x.userID).SingleOrDefault();
        
        if (!(Model.ElementAt(i).userID == Model.ElementAt(0).userID))
        {
            <div data-id="@Model.ElementAt(i).userID" class="search-body content">
                @Html.ActionLink(Model.ElementAt(i).name, "GetProfile", "Profile", new { Id = Model.ElementAt(i).userID }, new { @class = "user-fullName" })
                @if(Model.ElementAt(0).myId != Model.ElementAt(i).userID)
                {
                    if (Model.ElementAt(0).myStalkings.Contains(Model.ElementAt(i).userID))
                    {
                        <button class="btn btn-primary btn-sm stalk-button search-button">Stalking</button>
                    }
                    else
                    {
                        <button class="btn btn-default btn-sm stalk-button search-button">Stalk</button>
                    }
                }     
            </div>
        }
    }
</div>